@import "bourbon/bourbon";
@import "neat/neat";

html, body {
    margin: 0;
    height: 100%
}

body {
    background: #F39C12;
}

#header {
    @include background-image(linear-gradient(-180deg, #29CCDE 0%, #129DBA 100%));
    height: 10%;
    display: flex;
    justify-content: center;
    
    #logo {
        height: 100%;
    }
}

#content {
    height: 85%
}
main {
    @include background-image(linear-gradient(-180deg, #29CCDE 0%, #129DBA 100%));
    border-radius: 8px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    overflow: auto;
}

#navigation {
    display: flex;
    justify-content: space-around;
    .navigations {
        
    }   
}
